extends layout

block content
  #app
  
  // App initial state is inserted here when SSR
  script(id='ssr-state')

  script(src=`${gamesHost}/lib/iframeResizer.min.js` type='text/javascript')
  script(src=`${host}/js/auth0.js` type='text/javascript')