- var includeAuth = htmlWebpackPlugin.options.includeAuth

doctype html
html(lang='en')
  head
    include includes/metas-links

    title Title Me

    // App styles are inserted here when SSR
    style(id='jss-server-side')
  body
    #app

    // App initial state is inserted here when SSR
    script(id='initial-state')
