doctype html
html(lang='en')
  head
    include includes/metas-links

    title React SPA

    // App styles are inserted here when SSR
    style(id='ssr-styles')
  body
    #app

    // App initial state is inserted here when SSR
    script(id='ssr-state')
