- var includeRecaptcha = htmlWebpackPlugin.options.includeRecaptcha
- var includeAuth = htmlWebpackPlugin.options.includeAuth

doctype html
html(lang='en')
  head
    include includes/commonMetasLinks

    title Title Me
    
    if includeRecaptcha
      include includes/recaptcha

    // material-UI styles are inserted here when SSR
    style(id='jss-server-side')
  body
    #app

    if includeAuth
      include includes/auth
