doctype html
html(lang='en')
  head
    base(href=`${base}`)
    include includes/metas-links

    // App styles are inserted here when SSR
    style(id='ssr-styles')

    title Playnews
  body
    block content
  