doctype html
html(lang='en')
  head
    include includes/commonMetasLinks

    title Title Me
    
    if includeRecaptcha
      include includes/recaptcha

    // material-UI styles are inserted here when SSR
    style(id='jss-server-side') !{ styles }
  body
    #app !{ markup }

    if includeAuth
      include includes/auth
